<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>邮件通知</title>
    </head>
    <body>
        <h1>hello {{name}}</h1>
        <p>您有新的通知，请注意查收。</p>
        <p>详情请访问我们的网站</p>
    </body>
</html>