<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
</head>
<body>
<h4>Hello, {{name}}!</h4>
<p>   {{message}}</p>
<p>您有新的邮件，请注意查收。</p>
</body>
</html>
